body{

    font-family:Tahoma,Arial;
    direction:rtl;
    background:white;
    color:#222;
    
    }
    
    
    .invoice-page{
    
    width:750px;
    
    margin:20px auto;
    
    border:1px solid #bbb;
    
    padding:25px;
    
    box-sizing:border-box;
    
    }
    
    
    
    .invoice-title{
    
    text-align:center;
    
    font-size:34px;
    
    font-weight:bold;
    
    margin-bottom:8px;
    
    }
    
    
    
    .invoice-subtitle{
    
    text-align:center;
    
    margin-bottom:25px;
    
    }
    
    
    
    .info-box{
    
    display:flex;
    
    justify-content:space-between;
    
    border:1px solid #aaa;
    
    padding:15px;
    
    margin-bottom:20px;
    
    }
    
    
    
    table{
    
    width:100%;
    
    border-collapse:collapse;
    
    }
    
    
    
    th{
    
    background:#eee;
    
    }
    
    
    
    th,td{
    
    border:1px solid #aaa;
    
    padding:10px;
    
    text-align:center;
    
    }
    
    
    
    .bottom-area{
    
    display:flex;
    
    justify-content:space-between;
    
    gap:20px;
    
    margin-top:25px;
    
    }
    
    
    
    .description-box{
    
    width:45%;
    
    height:120px;
    
    border:1px solid #aaa;
    
    padding:15px;
    
    box-sizing:border-box;
    
    }
    
    
    
    .summary{
    
    width:45%;
    
    border:1px solid #aaa;
    
    padding:15px;
    
    box-sizing:border-box;
    
    }
    
    
    
    .summary div{
    
    display:flex;
    
    justify-content:space-between;
    
    margin-bottom:12px;
    
    }
    
    
    
    .final-total{
    
    font-size:20px;
    
    font-weight:bold;
    
    border-top:2px solid #222;
    
    padding-top:12px;
    
    }
    
    
    
    .sign-area{
    
    display:flex;
    
    justify-content:space-between;
    
    margin-top:60px;
    
    }
    
    
    
    .sign-box{
    
    width:200px;
    
    text-align:center;
    
    }
    
    
    
    .sign-line{
    
    margin-top:50px;
    
    border-top:1px solid #555;
    
    padding-top:10px;
    
    }
    
    
    
    .footer{
    
    text-align:center;
    
    margin-top:35px;
    
    }
    
    
    
    @media print{
    
    
    .invoice-page{
    
    width:100%;
    
    margin:0;
    
    border:none;
    
    }
    
    
    }

    @page{
        size: A4;
        margin:0;
    }
    
    
    @media print{
    
        html,body{
    
            margin:0 !important;
            padding:0 !important;
    
        }
    
    
        .invoice-page{
    
            width:210mm;
            min-height:297mm;
    
            margin:0;
    
            padding:15mm;
    
            border:none;
    
        }
    
    
    }